p {
font-family: "Garamond", sans-serif, serif;



}
.tabul {


    border: 1px solid;
}
footer{
margin-top: 5em;

} 

#message{
background-color: antiquewhite;
white-space: normal;
text-align: justify;

}

